includes:
	- phpstan-baseline.neon
parameters:
    level: 9
    paths:
        - src
    excludePaths:
        - 'src/config/*'
        - 'src/myTemplates/*'
        - 'src/test/*'
    bootstrapFiles:
        - stan_autoload.php
